@use 'variaveis';
@use 'hero';
@use 'shows';
@use 'plans';

@font-face{
    font-family: Avenir;
    src: url('../../assets/fonts/Avenir-Regular.woff2');
    font-weight: 400;
}

@font-face{
    font-family: Avenir;
    src: url('../../assets/fonts/Avenir-Bold.woff2');
    font-weight: 700;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Avenir;
}


body{
    background-color: variaveis.$backgorund-color;
    
}

@mixin text($fontSize: 16px){
    font-size: $fontSize;
    line-height: $fontSize + 10px;
    color: variaveis.$mainTextColor;
}

@mixin title($fontSize: 40px){
    @include text($fontSize);
    color: variaveis.$textSecondaryColor;
}

.big--text{
    @include text(18px);
}

.text {
    @include text;
}

.small--text{
    @include text(12px);
}

.big--title {
    @include title(44px);
}

.title{
    @include title;
}

.small--title{
    @include title(28px)
}

.link-text{
    @include text(18px);
    color: variaveis.$textSecondaryColor;
    text-decoration: underline;
}

.button{
        display: block;
        width: 100%;
        height: 60px;
        font-size: 18px;
        color: variaveis.$textSecondaryColor;
        background-color: #6421ff;
        border-radius: 4px;
        margin-top: 2vw;
        margin-bottom: 8px;
        border: none;
        cursor: pointer;
    
}